 <ul>
            <li class="ml-3 mt-1">Webbplatsen bygger på egen HTML/CSS/JS</li>
            <li class="ml-3 mt-1">Skapat partials, laddas in i minst två views</li>
            <li class="ml-3 mt-1">Implementerat validering för input-fält</li>
            <li class="ml-3 mt-3">Denna lista är en partial till exempel!</li>
</ul>