<nav class="menu">
    <a asp-controller="Home" asp-action="Index" class="sidebar-li">Home</a>
      <a asp-controller="Home" asp-action="Destinations" class="sidebar-li">Destinations</a>
    <a asp-controller="Home" asp-action="About" class="sidebar-li">About</a> 
</nav>