@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="col-1">
        <section>
        <h1>About page</h1>
        <p>Detta är min webbsida för moment 2, där jag visar upp olika tekniker för att visa upp data i mitt MVC projekt. Använder mig av Controllers, Models och Views. Har utfört det obligatoriska och fick även med lite bonus delar också!</p>
       @await Html.PartialAsync("_ListPartial")
        <img class="snow mt-3" src="~/images/snow.jpg" alt="snowboarder in powdersnow">
        </section>
    </div>

</div>