@model IEnumerable<DennisMvc.Models.Destinations>
@{
    ViewData["Title"] = "Home";
    
    
}
<div class="container">
    <div class="col-1">
        <section>
        <h1>Destination Tracker</h1>
        <p class="mt-1">Going to the great alps for vacation is a great idea and a amazing place to be! If you are like my dad, you might have ben to the alps 25+ times in your life - which will make keeping track of where you have actually been - or not been, simply hard to remember.</p>
        <p class="mt-1">In this website of mine you can easily track your destinations by adding them to the list, so you can see where your latest adventure took place!</p>
        <p class="mt-1">The website is presented as a MVC projekt with .NET - enjoy!</p>
        <img class="net mt-3" src="~/images/net.png" alt="logo for .net">
        </section>

         <section>
      <h2>@ViewBag.Heading</h2>
      <p>@ViewBag.Text</p>
        <div class="error">
       <p>@ViewData["ErrorMessage"]</p> 
        </div>
        <img class="snow mt-3" src="~/images/cat.jpg" alt="cat in snow">
        </section>
    </div>
</div>
